<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

   
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style-responsive.css') }}">
</head>

<body style="background-image:url(../static/images/bg_final.jpg)">

<div class="container">
<p>&nbsp <p>&nbsp <p>&nbsp
    <form class="form-signin">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Log In</h1>
            
        </div>
        <div class="login-wrap">
            <input type="text" id="email" name="email" class="form-control" onblur="checkEmail()" placeholder="Email">
            <p id="emailAlert" style="font-size:13px;color:red"></p>
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" >
			<p id="emailOrpassword" style="font-size:13px;color:red"></p>
            <button class="btn btn-lg btn-login btn-block" style="height:45px" onclick="return login()" >
                <p style="font-size=15px;text-align:center;color:white;line-height:30px">Login</p>
            </button>

            <div class="registration">
                Not a member yet?
                <a class="" href="http://127.0.0.1:8888/index">
                    Signup
                </a>
            </div>
            <label class="checkbox">
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster
window.location.href="mainpage.html?cpu="+cpu+"&ram="+ram;-->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="static/js/jquery-1.10.2.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/modernizr.min.js"></script>
<script src="../static/js/sha1.js"></script>
<script type="text/javascript">
 		function checkEmail(){
			var email=document.getElementById("email").value;			
			var myreg = new RegExp('^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$')
			var ret_test = myreg.test(email);
            if(!ret_test)
           {
                document.getElementById("emailAlert").innerHTML="Please enter correct email address";
                return false;
             }
			 else{
				document.getElementById("emailAlert").innerHTML="";
 		}
		}
		
		function login(){
			var email=document.getElementById("email").value;			
			var password=document.getElementById("password").value;
			if(email==''|| email==undefined ||email ==null)
			{
				document.getElementById("emailAlert").innerHTML="The email can't be null";
			}
			else if(password==''|| password==undefined ||password ==null)
			{
			document.getElementById("emailOrpassword").innerHTML="The password can't be null";
			}
			else{
			var final_password = hex_sha1(password);
				$.ajax({
				type: 'post',
				url:'http://127.0.0.1:8888/login',
				data:{'email':email,
					  'password':final_password},
				success:function(data,textStatus)
			{
				if(data=='Not')
				{
				   document.getElementById("emailOrpassword").innerHTML="Please enter the correct email and password";
				}
				else
				{
				   document.getElementById("emailOrpassword").innerHTML="";
				   document.cookie = "name="+email
				   window.location.href="http://127.0.0.1:8888/main_page";
				}
			}
			});}
			return false 
	}
		
		

 		
	</script>

</body>
</html>
